.forgot-password1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.forgot-password1-logo {
  text-decoration: none;
}
.forgot-password1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.forgot-password1-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.forgot-password1-nav12 {
  text-decoration: none;
}
.forgot-password1-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.forgot-password1-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.forgot-password1-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.forgot-password1-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.forgot-password1-login {
  margin-right: 32px;
  text-decoration: none;
}
.forgot-password1-register {
  text-decoration: none;
}
.forgot-password1-burger-menu {
  display: none;
}
.forgot-password1-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.forgot-password1-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.forgot-password1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.forgot-password1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.forgot-password1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot-password1-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.forgot-password1-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.forgot-password1-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.forgot-password1-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.forgot-password1-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.forgot-password1-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.forgot-password1-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.forgot-password1-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.forgot-password1-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.forgot-password1-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.forgot-password1-hero {
  align-items: center;
  justify-content: center;
}
.forgot-password1-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1021px;
  height: 345px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.forgot-password1-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.forgot-password1-hero-heading {
  height: 82px;
  max-width: 800px;
  text-align: center;
}
.forgot-password1-text28 {
  font-size: 18px;
  align-self: center;
  text-transform: capitalize;
}
.forgot-password1-hero-button2 {
  left: 0px;
  right: 0px;
  width: 191px;
  bottom: -11px;
  height: 70px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  text-decoration: underline;
}
.forgot-password1-register2 {
  align-self: center;
}
.forgot-password1-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.forgot-password1-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.forgot-password1-nav122 {
  text-decoration: none;
}
.forgot-password1-nav222 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.forgot-password1-nav322 {
  margin-left: var(--dl-space-space-unit);
}
.forgot-password1-nav422 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.forgot-password1-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.forgot-password1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.forgot-password1-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.forgot-password1-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.forgot-password1-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.forgot-password1-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .forgot-password1-hero {
    flex-direction: column;
  }
  .forgot-password1-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .forgot-password1-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .forgot-password1-hero-heading {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .forgot-password1-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .forgot-password1-desktop-menu {
    display: none;
  }
  .forgot-password1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forgot-password1-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .forgot-password1-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .forgot-password1-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .forgot-password1-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .forgot-password1-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .forgot-password1-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .forgot-password1-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .forgot-password1-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .forgot-password1-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .forgot-password1-text30 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .forgot-password1-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .forgot-password1-mobile-menu1 {
    padding: 16px;
  }
  .forgot-password1-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .forgot-password1-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .forgot-password1-footer {
    padding: var(--dl-space-space-unit);
  }
  .forgot-password1-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .forgot-password1-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .forgot-password1-text30 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
